:root {
  --green-color: #42b983;
  --navy-color: #2c3e50;
  --black-color: #000000;

  --main-font:  Avenir, Helvetica, Arial, sans-serif;

  /* brakepoints */
  --sm: 480px;
  --md: 992px;
  --lg: 1280px;
  /* END brakepoints */
}